* {
    background-color: var(--black0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 150px;
    margin-right: 150px;
}

header {
    margin-top: 20px;
}

.filters {
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    width: 250px;
    height: auto;
}

/* fazer um @media print e incluir o style do vai ser salvo em pdf,
usar o comand p com a opção se salvar pdf ao invés de usar a API para
simplificar o processo nesse momento */