* {
    background-color: var(--black0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 150px;
    margin-right: 150px;
}

header {
    margin-top: 20px;
}

.filters {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

.buttonFilter {
    cursor: pointer;
    display: flex;
    width: 200px;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--white0);
    color: var(--black0);
}

.buttonFilter:hover {
    border-color: var(--yellow0);
}

.buttonFilter:focus {
    border-color: var(--yellow0);
}

img {
    width: 150px;
    height: auto;
}

.exercise-container {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--black0);
}

/* fazer um @media print e incluir o style do vai ser salvo em pdf,
usar o comand p com a opção se salvar pdf ao invés de usar a API para
simplificar o processo nesse momento */